cachetools ~= 2.0.0
# marblecutter[color_ramp,postgis,web] ~= 0.3.1
https://github.com/mojodna/marblecutter/archive/3f10756.tar.gz#egg=marblecutter[postgis,web]
rasterio[s3] >= 1.0 --no-binary rasterio

psycopg2-binary
git+https://github.com/salbito/pypotrace.git